extends ../../../core/client/views/layout

block page
  - var menu = 'calibrates'
block content
  div
    h3='Calibrate Listing'
    br
    - if (calibrates.length) {
    table.table.table-striped
      thead.thead-inverse
        tr
          th Asset Number
          th Model
          th Location
          th Last Cal
          th Next Cal
          th File
      tbody
        each calibrate in calibrates
          tr
            td= calibrate.asset_number
            td= calibrate.model
            td= calibrate.ECMS_Location.desc
            td #{moment(calibrate.ECMS_Attributes[0].last_cal).format('MM/DD/YYYY')}
            td #{moment(calibrate.ECMS_Attributes[0].next_cal).format('MM/DD/YYYY')}
            - if (calibrate.ECMS_Attributes[0].file) {
            td= calibrate.ECMS_Attributes[0].file
            - }
      - }