extends ../../../core/client/views/layout

block page
  - var menu = 'calibrates'
block content
  div
    h3='Listing from ECMS equipment table'
    - if (equipments.length) {
    table.table.table-striped
      thead.thead-inverse
        tr
          th asset_number
          th location_id
          th model
          th status
      tbody
        each equipment in equipments
          tr
            th(scope="row")= equipment.asset_number
            td= equipment.location_id
            td= equipment.model
            td= equipment.status
    - }