doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
  body
    h3='Listing from ECMS main table'
    - if (mains.length) {
    table
      tr
        th id
        th asset_number
        th file
        th last_cal
        th next_cal
        th schedule
      each main in mains
        tr
          td= main.id
          td= main.asset_number
          td= main.file
          td= main.last_cal
          - if (main.next_cal) {
          td= main.next_cal
          - }
          td= main.schedule
    - }