doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
  body
    h3='Listing from ECMS equipment table'
    - if (equipments.length) {
    table
      tr
        th id
        th asset_number
        th location_id
        th model
        th status
      each equipment in equipments
        tr
          td= equipment.id
          td= equipment.asset_number
          td= equipment.location_id
          td= equipment.model
          td= equipment.status
    - }